<%= div_for comment do %>
  <h3>
    <%= comment.name %> &lt; <%= comment.email %> &gt; said:
    <% if @article.owned_by? current_user %>
      <span class="actions" >
        <%= link_to "Delete", [@article, comment], confirm: 'Are you sure?', method: :delete, remote: true %>
      </span>
    <% end %>
  </h3>
  <%= comment.body %>
<% end %>