<html>
  <body>
    <p>
      Someone added a comment to one of your articles <i><%= @article.title %></i>.
      Go read the comment <%= link_to @article.title, article_url(@article, :host =>"localhost:3000") %>.
    </p>
  </body>
</html>