<html>
  <body>
    <p>
      One of your friends, <%= @sender_name %>, thinks you may like an article we have writen.
    </p>
    <p>
      Come check out all the information about <strong><%= @article.title %></strong> at <%= article_url(@article, :host => 'localhost:3000') %>
    </p>
  </body>
</html>
